resources/ImportaMalattieService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.1-b01-. -->
<definitions targetNamespace="http://importa.ciscoop.sm/" name="ImportaMalattieService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://importa.ciscoop.sm/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://importa.ciscoop.sm/" schemaLocation="ImportaMalattieService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="importaMalattie">
    <part name="parameters" element="tns:importaMalattie"/>
  </message>
  <message name="importaMalattieResponse">
    <part name="parameters" element="tns:importaMalattieResponse"/>
  </message>
  <message name="importazione">
    <part name="parameters" element="tns:importazione"/>
  </message>
  <message name="importazioneResponse">
    <part name="parameters" element="tns:importazioneResponse"/>
  </message>
  <message name="isOnline">
    <part name="parameters" element="tns:isOnline"/>
  </message>
  <message name="isOnlineResponse">
    <part name="parameters" element="tns:isOnlineResponse"/>
  </message>
  <portType name="IImportaMalattie">
    <operation name="importaMalattie">
      <input wsam:Action="http://importa.ciscoop.sm/IImportaMalattie/importaMalattieRequest" message="tns:importaMalattie"/>
      <output wsam:Action="http://importa.ciscoop.sm/IImportaMalattie/importaMalattieResponse" message="tns:importaMalattieResponse"/>
    </operation>
    <operation name="importazione">
      <input wsam:Action="http://importa.ciscoop.sm/IImportaMalattie/importazioneRequest" message="tns:importazione"/>
      <output wsam:Action="http://importa.ciscoop.sm/IImportaMalattie/importazioneResponse" message="tns:importazioneResponse"/>
    </operation>
    <operation name="isOnline">
      <input wsam:Action="http://importa.ciscoop.sm/IImportaMalattie/isOnlineRequest" message="tns:isOnline"/>
      <output wsam:Action="http://importa.ciscoop.sm/IImportaMalattie/isOnlineResponse" message="tns:isOnlineResponse"/>
    </operation>
  </portType>
  <binding name="ImportaMalattiePortBinding" type="tns:IImportaMalattie">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="importaMalattie">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="importazione">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="isOnline">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="ImportaMalattieService">
    <port name="ImportaMalattiePort" binding="tns:ImportaMalattiePortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

